.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 48px auto;
  align-self: center;
  padding: 4px;
  width: 400px;
}

.userListHeader {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 24px auto;
  align-self: center;
  padding: 4px;
}

.userList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 18px auto;
  align-self: center;
  padding: 4px;
}

.header {
  background-color: #e1eff4;
  border-bottom: 2px solid #9c9c9c;
}

.items {
  border-bottom: 1px solid lightgray;
}

.action {
  display: grid;
  grid-template-columns: repeat(2, 24px);
}

.action-item {

}

.action-item:hover {
  cursor: pointer;
}
